@charset "utf-8";
/* CSS Stylesheet */

/* Baseline
---------------------------------------- */
a {
    text-decoration: none;
    border: 0;
    color: #349AD4;
}

a:hover, a:focus {
    text-decoration: none;
}

a img {
    border: 0;
}

abbr, acronym {
    border-bottom: 1px dotted;
    cursor: help;
    font-variant: small-caps;
}

address, cite, em, i {
    font-style: italic;
}

blockquote p{
    margin: 0 1.5em 1.5em;
    padding: 0.75em;
}

h1, h2, h3, h4 ,h5, h6 {
    font-weight: 700;
    padding: 0;
}

h1 {
    font-size: 2em;
    line-height: 1.2em;
    margin: 0 0 0.75em;
}

h2 {
    font-size: 1.5em;
    line-height: 1.2em;
    margin: 0 0 1em;
}

h3 {
    font-size: 1.846em;
    margin: 0 0 28px 0;
    color: #252525;
    line-height: 1.2em;
    text-transform: uppercase;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 3px;
}

h4 {
    font-size: 1em;
    margin: 0 0 1.5em;
}

h5 {
    font-size: 0.8333em;
    margin: 0 0 1em;
}

h6 {
    font-size: 0.666em;
    margin: 0 0 2.25em;
}

img {
    display: inline-block;
    vertical-align: text-bottom;
}

ol {
    list-style: outside decimal;
}

p {
    font-weight: 300;
    font-size: 0.966em;
    margin: 0 0 1.5em;
}

sub {
    top: 0.4em;
    font-size: 0.85em;
    line-height: 1;
    position: relative;
    vertical-align: baseline;
}

sup {
    font-size: 0.85em;
    line-height: 1;
    position: relative;
    bottom: 0.5em;
    vertical-align: baseline;
}

strong, b {
    font-weight: 700;
}

ul {
    display: inline-block;
    list-style: outside disc;
    width: 100%;
}

ul li {
    width: 48%;
    float: left;
    font-size: 0.8em;
}

ul, ol {
    margin: 0 0 1.5em 1.5em;
    padding: 0;
}

li ul{
    padding: 0;
    margin: 0 0 0 2em;
    list-style: outside circle;
}

li ol {
    padding: 0;
    margin: 0 0 0 2em;
    list-style-position: outside;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 1.5em;
    padding: 0;
    width: 100%;
    border: none;
}

tr.alt td {
    background: #EEEEEE;
}

td {
    border: 0;
    padding: 0.5em 1em;
    vertical-align: middle;
    border-bottom: 1px solid #eee;
    line-height: 1.5em;
}

th {
    font-weight: 700;
    padding: 0.5em 1em;
    vertical-align: middle;
    background: #EEEEEE;
    text-align: left;
}

button {
    cursor: pointer;
    display: block;
    font-size: 0.99em;
    height: 2em;
    line-height: 1.5em;
    margin: 0.8em 0 0 0;
    padding: 0 0.5em;
    width: 414px;
}

button::-moz-focus-inner {
    border: 0;
}

fieldset {
    border: 1px solid #B0B0B0;
    margin: 0 0 1.5em;
    position: relative;
    padding: 1.5em;
}

input {
    border: 1px solid #CCCCCC;
    border-bottom-color: #EEEEEE;
    border-right-color: #EEEEEE;
    font-size: 1em;
    padding: .5em .3em;
    margin: 0 0 0.75em;
    width: 400px;
}

input[type=file] {
    height: 2.25em;
    font-size: 1em;
    padding: 0;
    border: 1px solid #cccccc;
}

input[type=submit],
input[type=reset] {
    height: 2em;
    width: 195px;
    margin: 0.8em 0 0 0;
    padding: 0 0.5em;
    cursor: pointer;
    display: block;
    font-size: 0.99em;
    line-height: 1.5em;
    color: #FFFFFF;
    float: left;
    background: #333333 none repeat 0 0 scroll;
    -moz-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    -webkit-transition: background 0.2s linear;
    transition: background 0.2s linear;
}

input[type=reset] {
    margin: 0.8em 20px 0 0;
}

input[type=submit]:hover,
input[type=reset]:hover {
    background: #FFFFFF none repeat 0 0 scroll;
    color: #888888;
}

textarea {
    border: 1px solid #CCCCCC;
    border-bottom-color: #EEEEEE;
    border-right-color: #EEEEEE;
    margin: 0;
    padding: .3em;
    width: 402px;
}

select {
    border: 1px solid #CCCCCC;
    border-bottom-color: #EEEEEE;
    border-right-color: #EEEEEE;
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 0.75em;
    padding: 0.25em;
    height: 2.25em;
}

label {
    cursor: pointer;
    display: block;
    margin: 0 0 0.5em;
    padding: 0;
}

legend {
    font-size: 0.8em;
    font-weight: 700;
    left: 0;
    margin: 0;
    padding: 0 1em;
}