@charset "utf-8";
/* CSS Stylesheet */

/* General
---------------------------------------- */
html, body {
    min-width: 960px;
}

body {
    border-top: 2px solid #FFFFFF;
    background: #F2F1ED url(../img/background.png) repeat-x 0 116px scroll;
    color: #999999;
    font: 100%/1.125em Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

/* Header
---------------------------------------- */
#header {
    height: 116px;
    margin: 0;
    border-bottom: 10px solid #262626;
}

    #header > a {
        width: 93px;
        height: 93px;
        float: left;
        display: block;
        margin: 0.7195em 0 0;
        background: transparent url(../img/logo.png) no-repeat -93px 0 scroll;
    }

        #header a img {
            background: transparent url(../img/logo.png) no-repeat 0 0 scroll;
            opacity: 1;
            -moz-transition: opacity 0.5s linear;
            -ms-transition: opacity 0.5s linear;
            -o-transition: opacity 0.5s linear;
            -webkit-transition: opacity 0.5s linear;
            transition: opacity 0.5s linear;
        }

            #header a img:hover {
                cursor: pointer;
                opacity: 0;
            }

    #header p {
        margin: 4.002em 0 0 0;
        float: right;
        font: 100%/1.125em Georgia, Helvetica, sans-serif;
    }

        #header p a {
            margin:  0 0 0 20px;
            color: #999999;
            -moz-transition: color 0.5s linear;
            -ms-transition: color 0.5s linear;
            -o-transition: color 0.5s linear;
            -webkit-transition: color 0.5s linear;
            transition: color 0.5s linear;
        }

            #header p a:hover {
                color: #349AD4;
            }

/* Content
---------------------------------------- */
#content {
    height: 360px;
    margin: 0;
}

    #content h1 {
        margin: 30px 0 10px;
        text-transform: uppercase;
        color: #333333;
        font: 90pt Helvetica, sans-serif;
        line-height: 80pt;
        font-weight: 700;
    }

    #content h2 {
        margin: 0;
        color: #349ad4;
        font: 34pt Arial, sans-serif;
        line-height: 34pt;
        font-weight: 700;
    }

/* Page
---------------------------------------- */
#page {
    height: auto;
    min-height: 146px;
    margin: 0;
}

    #page .page_block_small {
        width: 308px;
        height: 146px;
        float: left;
        margin: 0 18px 0 0;
    }

        #page .page_block_small:nth-child(3) {
            margin: 0;
        }

        #page .page_block_small h3 {
            width: 100%;
            color: #888888;
            font: 16pt Georgia, Helvetica, sans-serif;
            font-style: italic;
            margin: 24px 0 10px 0;
            border-bottom: 1px solid #888888;
        }

        #page .page_block_small p {
            width: 260px;
            float: left;
            font: 11pt Arial, Helvetica, sans-serif;
        }

        #page .page_block_small span {
            float: right;
            margin: 29px 0 0;
            background: transparent url(../img/button.png) no-repeat -24px 0 scroll;
        }

            #page .page_block_small span img {
                background: transparent url(../img/button.png) no-repeat 0 0 scroll;
                opacity: 1;
                -moz-transition: opacity 0.5s linear;
                -ms-transition: opacity 0.5s linear;
                -o-transition: opacity 0.5s linear;
                -webkit-transition: opacity 0.5s linear;
                transition: opacity 0.5s linear;
            }

                #page .page_block_small img:hover {
                    opacity: 0;
                    cursor: pointer;
                }

    #page .page_block {
        display: none;
        height: auto;
        opacity: 0;
    }

        #page .page_block h1 {
            border-bottom: 1px solid #888888;
            color: #888888;
            font: italic 2em Georgia,Helvetica,sans-serif;
            padding: 0 0 10px;
            margin: 24px 0 24px;
        }

            #page .page_block #contact_form,
            #page .page_block #contact_map {
                width: 444px;
                float: left;
            }

            #page .page_block #contact_form {
                margin: 0 20px 0 0;
            }

            #page .page_block #contact_map {
                border: 1px solid #B0B0B0;
            }

            #page .page_block #contact_map iframe {
                width: 444px;
                height: 337px;
                margin:0 0 -4px;
                border: 0;
            }

        #page .page_block span {
            margin: -64px 0 0 0;
            display: block;
            float: right;
            background: transparent url(../img/button.png) no-repeat -24px -24px scroll;
        }

            #page .page_block span img {
                background: transparent url(../img/button.png) no-repeat 0 -24px scroll;
                opacity: 1;
                -moz-transition: opacity 0.5s linear;
                -ms-transition: opacity 0.5s linear;
                -o-transition: opacity 0.5s linear;
                -webkit-transition: opacity 0.5s linear;
                transition: opacity 0.5s linear;
            }

            #page .page_block img:hover {
                opacity: 0;
                cursor: pointer;
            }

            #page .page_block #form_error {
                height: 18px;
                margin: 0 0 10px;
            }

                #page .page_block form label input,
                #page .page_block form label select,
                #page .page_block form label textarea {
                    -moz-transition: border 0.3s linear;
                    -ms-transition: border 0.3s linear;
                    -o-transition: border 0.3s linear;
                    -webkit-transition: border 0.3s linear;
                    transition: border 0.3s linear;
                }

                #page .page_block form label.success {
                    background: transparent url(../img/success_icon.png) no-repeat 427px 25px scroll;
                }

                #page .page_block form label.success input,
                #page .page_block form label.success select,
                #page .page_block form label.success textarea {
                    border: 1px solid #92C140;
                }

                #page .page_block form label.error {
                    background: transparent url(../img/error_icon.png) no-repeat 427px 25px scroll;
                }

                #page .page_block form label.error input,
                #page .page_block form label.error select,
                #page .page_block form label.error textarea {
                    border: 1px solid #CB4D4D;
                }

/* Footer
---------------------------------------- */
#footer {
    width: 100%;
    height: 117px;
    margin: 0;
    font: 10pt Arial, Helvetica, sans-serif;
    border-top: 10px solid #262626;
}

    #footer p {
        margin: 27px 0 0 0;
        float: left;
    }

    #footer img {
        margin: 14px 0 0 0;
        float: right;
        background: transparent url(../img/logo.png) no-repeat 0 0 scroll;
    }